// Abbr
abbr { cursor: help }
abbr[title] { border-bottom: 1px dotted; }

// highlighter-rouge ``
code.highlighter-rouge {
  font-style: italic;
  background: none;
  border: none;
  margin: 0px;
  padding: 0.25em;
}

// Block quotes
blockquote>p {
  margin: 0;
}